binance_connector
binance_futures_connector
colorama
gate_api
gTTS
kucoin_futures_python
mutagen
pandas
paramiko
Pillow
pybit
pygame
pyinstaller
python_binance
python_bitget
python_okx
Requests
websocket_client
