binance_connector==3.8.1
binance_futures_connector==4.0.0
colorama==0.4.6
gate_api==4.70.0
gTTS==2.5.1
kucoin_futures_python==1.0.9
mutagen==1.47.0
paramiko==3.5.0
Pillow==11.0.0
pybit==5.6.2
pygame==2.5.2
python_binance==1.0.19
python_bitget==1.0.7
python_okx==0.3.0
Requests==2.32.3
websocket_client==1.7.0
